* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.mainwin {
  height: 100vh;
  width: 99vw;
  background: linear-gradient(#ffcccc, #ccffff);
  position: static;
}

.container1 {
  height: 95vh;
  width: 94vw;
  background-color: azure;
  position: relative;
  top: 30px;
  display: flex;
}

.iconsMenu {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.appLogo {
  margin-top: 20px;
  padding-top: 0px;
  color: orange;
  background-color: #fff;
}

.outer {
  padding: 16px;
  width: 70%;
  margin: 18px 18px;
  text-align: center;
}

.icons {
  padding: 20px;
}

.fachange {
  font-size: 1.5em;
}

.outer:hover {
  cursor: pointer;
  background-color: rgb(240, 111, 6);
  border-radius: 25px;
  box-shadow: 0 24px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.fachange:hover {
  color: white;
}

.innerbox {
  padding: 7px;
}

.innerbox:hover {
  border: 2px solid rgb(255, 255, 255);
  padding: 7px;
  border-radius: 10px;
}

.exit {
  position: relative;
  top: 50px;
}
.mainstuff {
  width: 65%;

  height: 100%;
  position: relative;
}

.user {
  display: flex;
  align-items: center;
  padding: 0px 3%;
  gap: 10px;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.top-left {
  display: flex;

  gap: 10px;
  align-items: flex-start;
}

.userIco {
  position: relative;
  top: 10px;
  height: 50px;
}

.searchBar {
  width: 440px;
  float: right;
  padding: 10px;

  position: relative;
  left: 0px;
}

.ip {
  height: 40px;
  border-radius: 30px;
  border-style: none;
  background-color: rgb(229, 238, 238);
  padding: 10px;
  font-weight: bold;
}

.seaico {
  color: orange;
  position: relative;
  left: -40px;
  padding: 5px;
}

.outerico {
  background-color: rgb(255, 255, 255);
  padding: 6px;
  margin: 10px;
  border: 2px solid rgb(196, 185, 185);
  border-radius: 50%;
}

.cards {
  height: 89%;
  padding: 20px;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.card1,
.card2,
.card3,
.card4 {
  height: 270px;
  width: 370px;
  border-radius: 26px;
  background-color: black;
}

.card1 {
  background-image: url(sunny.jpg);
  display: flex;
  flex-direction: column;
  height: 260px;
  /* width: 390px; */
}

.upper {
  /* border: 1px solid red; */
  height: 30%;
  border-radius: 26px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cloud-outer {
  height: 30px;
  width: 30px;
  padding: 20px;
  border-radius: 50%;
  margin: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud-ico {
  color: orange;
}

.middle {
  height: 35%;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding-left: 20px;
}

.temperature {
  display: flex;
  gap: 10px;
}

.max-temp {
  font-size: 2.2em;
  font-weight: bold;
}

.min-temp {
  background-color: #fff;
  height: 50%;
  width: 13%;
  border-radius: 17px;
  font-size: 0.9em;
}

.min {
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
}

.infowea {
  font-size: 1em;
  font-weight: bold;
}
.lower {
  height: 35%;
  border-radius: 26px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.pressure,
.visibility,
.humidity {
  background-color: #25242a;
  width: 95px;
  height: 60px;
  border-radius: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pressure {
  background-color: #1b143a;
}

.visibility {
  background-color: rgb(154, 228, 106);
}

.humidity {
  background-color: #fff;
}

.Coname,
.ConameP {
  font-size: 0.8em;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: 500;
}

.Pvalue,
.Vvalue,
.Hvalue {
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Signika Negative", sans-serif;
}

.ConameP,
.Pvalue {
  color: #fff;
  font-weight: 400;
}
.card2 {
  background-image: url(cloudy.jpg);
  display: flex;
  flex-direction: column;
  height: 260px;
}

.airqual {
  /* border: 2px solid black; */
  display: flex;
  align-content: center;
}
.wind-outer {
  height: 30px;
  width: 30px;
  padding: 20px;
  border-radius: 50%;
  margin: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wind-ico {
  color: orange;
  transform: rotateX(180deg);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.Quality {
  font-size: 15px;
  color: #fff;
  padding-bottom: 4px;
  text-align: left;
}

.PolluLvl {
  font-size: 12px;
  color: white;
  font-weight: 100;
}

.Q-info {
  display: flex;
  padding: 20px;
  gap: 10px;
  align-items: center;
}
.Q-in {
  color: #fff;
}

.num {
  font-size: 2.3em;
  font-family: "Signika Negative", sans-serif;
}
.aqibox {
  background-color: rgb(99, 230, 81);
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.AQI {
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
}

.progress {
  position: relative;
  left: 16%;
  bottom: 8%;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
  gap: 20px;
  padding-bottom: 4px;
}
.start,
.end {
  font-size: 1.5em;
}
.mid-text {
  z-index: 1;
  position: relative;
  top: -5px;
  left: -35px;
  color: #fff;
}

.fa-comment-alt {
  transform: scale(3.5, 1.2);
  z-index: 2;
  padding-top: 15px;
  margin-top: 70px;
  background-color: none;
  text-shadow: 0 24px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.w3-light-grey,
.w3-orange {
  height: 9px;
  border-radius: 25px;
}

/* card3 starts here */
.card3 {
  height: 270px;
  width: 470px;
  padding: 10px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upper3 {
  display: flex;
  justify-content: space-between;
}

.icons3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 10px;
  width: 30%;
}

.icon-cover {
  font-size: 20px;
  width: 40%;
  text-align: center;
  border-radius: 12px;
}

.icon-cover:hover {
  background-color: #ff8f00;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.howstxt {
  font-size: 1.2em;
  font-weight: bold;
  opacity: 80%;
}

.lower3 {
  height: 300px;
  width: 446px;
  border-radius: 26px;
  transform: scale(1.05);
}

.lower3 img {
  height: 180px;
  width: 400px;
  border-radius: 20px;
  padding: 4px;
}
/* card4 starts here */
.card4 {
  width: 300px;
  background-image: url(rainy.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tomo,
.tomo-temp {
  padding: 20px;
}

.tomoT,
.wea-tom {
  font-weight: 500;
}

.wea-tom {
  font-size: 1.1em;
}
.loc,
.tempT {
  font-size: 1.7em;
  font-weight: bold;
}

.sideCard {
  height: 100%;
  width: 25%;
  display: flex;

  flex-direction: column;
  /* background-color: rgba(241, 237, 237, 0.541); */
  background-color: rgba(241, 237, 237, 0.541);
  /* background: transparent; */
  /* opacity: 50%; */
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}

.sideTemp-loc {
  /* border: 2px solid blue; */
  width: 60%;
  height: 50%;
  padding-left: 25px;
}

.sun {
  font-size: 1.2em;
  font-weight: 600;
}

#Sloc {
  background-color: inherit;
  border-style: none;
  opacity: 70%;
}

.sideTemp {
  padding-right: 30px;
}
.tempSide {
  font-size: 2.2em;
  font-weight: 600;
  color: orange;
}
.divider {
  opacity: 10%;
  color: #000;
  border: 0.01em solid black;
  margin: 15px;
}

.suninfo {
  padding: 10px;
  /* padding-left: 18px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.UVInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  background-color: #1b143a;
  border-radius: 20px;
  color: #fff;
  width: 290px;
}

.sunico {
  color: orange;
}

.UV {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.value {
  display: flex;
  gap: 20px;
  font-size: 1.1em;
}

.intensity {
  background-color: greenyellow;
  color: #000;
  border-radius: 20px;
  width: 80px;
  font-weight: bold;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infotext {
  font-size: 0.7em;
}

.weatherPred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Pred {
  font-size: 1.6em;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  /* border: 2px solid red; */
}

.Scard1,
.Scard2 {
  /* border: 2px solid red; */
  height: 70px;
  width: 80%;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.iconSun,
.iconCloud {
  /* border: 2px solid red; */
  width: 20%;
}
.wea-icon {
  height: 40px;
}

.day-wea {
  margin-left: -30px;
}

.day1 {
  opacity: 40%;
  font-size: 80%;
  font-weight: 700;
}
.day2 {
  opacity: 40%;
  font-size: 80%;
  font-weight: 700;
}

.wea {
  font-weight: bold;
}

.tempofday1 {
  color: orange;
  opacity: 80%;
  font-weight: bold;
}

.tempofday2 {
  color: orange;
  opacity: 80%;
  font-weight: bold;
}

.next5card {
  height: 50px;
  display: flex;
  justify-content: right;
  position: relative;
  top: 20px;
  left: -20px;
}

.next5 {
  width: 40%;
  height: 90%;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #ff8f00;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.txtnext {
  color: #fff;
  font-size: 90%;
  font-weight: bold;
}
